header {
	background: #FFF;
	color:#FFF;
}

logo-bank{

}

body {
	background: default;
}

.main {
	background: #f2f2f2;
}

.navbar-brand {
	background: #f2f2f2;
	color: #2760be;
	text-align: right;
	display: inline;
}

.Parámetros {
	display: inline;
}

.navbar navbar-expand-lg navbar-light bg-light{
	display: inline;
	text-align: right;
}

.header2 {
	display: inline; 

}

/*.navbar1 {
	color: #2760be;
	}*/

	.indh {
		background: #f2f2f2;
		color: #2760be;	
	}

	#footer{
		height: 70px;
		background-color: #363636;
		margin-top: 30px;
		padding: 30px;

	} 